.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
    padding: 16px;
    box-sizing: border-box;
    background: #F5F5F5;
    position: relative;
    overflow: auto;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin: unset;
    padding: 30px 30px 46px 30px;
    line-height: 65.5px;
}

.p-r {
    padding-right: 0px;
}

.back-btn {
    position: absolute;
    right: 46px;
    top: 46px;

    mat-icon {
        font-size: 30px;
        height: 30px;
        width: 30px;
        line-height: 30px;
    }
}

main {
    padding-inline: 30px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

li::marker {
    font-size: 30px;
    font-weight: 600;
}

mat-panel-title {
    span {
        font-size: 18px;
        font-weight: 600;
    }
}

.list-item {
    display: flex;
    margin-bottom: 30px;

    span:first-child {
        font-size: 25px;
        font-weight: 600;
        min-width: 40px;
        line-height: 40px;
    }

    button {
        margin-top: 2px;
        margin-bottom: 2px;

        &:hover {
            background-color: #29ABE2;
            box-shadow: 0px 3px 4px 0px rgb(0 0 0 / 20%);
            transition: all 145ms ease-in-out;
        }
    }

    img {
        height: 22px;
        margin: -5px 5px 0 0;
    }

    .disabled {
        pointer-events: none;
    }
}

.plus-btn {
    border: 1px solid;
    padding-inline: 0;
    min-width: unset;
    line-height: 25px;

    mat-icon {
        padding-right: .64px;
    }
}

.edit-btn {
    min-width: unset;
    padding-inline: 6px;
}

.delete-btn {
    padding-inline: 10px 6px;
    border: 1px solid #ff3d00;
    background-color: white;
    color: #ff3d00;

    mat-icon {
        font-size: 22px;
    }
}

@media (max-width: 950px) {
    .container {
        height: calc(100% - 64px);
    }
}

@media (max-width: 850px) {
    .container {
        align-items: center;
    }

    h2 {
        width: 493px;
        box-sizing: border-box;
        padding: 0 30px 8.75px 30px;
    }

    .back-btn {
        right: 16px;
        top: 16px;
    }
}

@media (max-height: 760px) {
    h2 {
        padding-top: 0;
        padding-bottom: 8.75px;
    }
}

@media (max-width: 578px) {
    h2 {
        width: 98%;
    }

    main {
        width: 98%;
        padding-inline: unset;
    }
}

@media (max-width: 390px) {
    mat-panel-description {
        display: none;
    }
}

@media (max-width: 320px) {
    h2 {
        font-size: 30px;
        line-height: 45.5px;
    }
}