<main>
    <mat-card>
        <button class="back-btn" mat-icon-button color="accent" routerLink="/login">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <h3>Thank You for Registering</h3>
        <div class="formGroup" *ngIf="authService.userData as user">
            <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
            <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
        </div>

        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
            <button type="button" class="btn btnPrimary" (click)="resend()">
                <!-- <i class="fas fa-redo-alt"></i> -->
                Resend Verification Email
            </button>
        </div>
    </mat-card>
</main>

<img class="logo" src="assets/img/logo_dark.png">