main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #F5F5F5;
}

.back-btn {
    position: absolute;
}

.logo {
    position: absolute;
    height: calc(335px / 2.5);
    width: calc(274px / 2.5);
    top: 50px;
    left: 50px;
}