<main>
    <mat-card>
        <button class="back-btn" mat-icon-button color="accent" routerLink="/registration/login">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="content">
            <mat-card-title>Reset your password</mat-card-title>
            <div>
                <p>We have sent you an email to the given address.</p>
                <p>Please check your email and click on the link to reset your password.</p>
            </div>
        </div>
    </mat-card>
</main>

<img class="logo" src="assets/img/logo_dark.png">