<mat-toolbar>
    <img src="/assets/img/logo_dark.png">
    <h1>Kanban Project Management Tool</h1>
    <div>
        <mat-icon routerLink="help" matTooltip="Need help?">help_outlined</mat-icon>
        <img class="user-img" src="/assets/img/contact_placeholder.png" [matMenuTriggerFor]="menu">
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
        <button class="resp-btn" mat-menu-item routerLink="legalnotice">Legal notice</button>
        <button class="resp-btn" mat-menu-item routerLink="dataprotection">Data protection</button>
    </mat-menu>
</mat-toolbar>