:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #2A3647;
    height: 100vh;
}

.top-half {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.logo {
    object-fit: none;
}

nav {
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        color: #CDCDCD;
        display: flex;
        align-items: center;
        padding: 10px 45px;

        div {
            width: 26px;
            height: 26px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 25px;

            img {
                height: 22px;
            }
        }
    }
}

.active {
    background-color: #091931;
    color: #ffffff !important;
}

.bottom-half {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 70px;

    div {
        width: 100%;

        a {
            text-decoration: none;
            color: #CDCDCD;
            display: flex;
            align-items: center;
            padding: 10px 0 10px 25px;
        }
    }
}

.fotter-icon {
    margin-right: 20px;
    color: #CDCDCD;
}

@media (max-width: 950px) {
    :host {
        height: 100px;
        flex-direction: unset;
    }

    .logo {
        display: none;
    }

    .top-half {
        height: 100%;
    }

    nav {
        flex-direction: unset;
        height: 100%;

        a {
            width: 25%;
            height: 100%;
            margin-inline: 10px;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: center;
            padding: unset;

            div {
                margin-right: unset;
                justify-content: center;
            }
        }
    }

    .bottom-half {
        display: none;
    }
}