<main>
    <mat-card>
        <button class="back-btn" mat-icon-button color="accent" routerLink="/login">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <form [formGroup]="forgotForm" (ngSubmit)="send()" novalidate>
            <mat-card-title>Forgot password</mat-card-title>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-icon matSuffix>mail_outline</mat-icon>
                <mat-error *ngIf="errorHandling('email', 'required')">
                    You must provide a <strong>email-address</strong>
                </mat-error>
                <mat-error *ngIf="errorHandling('email', 'pattern')">
                    Wrong format <strong>(e.g.: john-doe@eg-mail.com)</strong>
                </mat-error>
            </mat-form-field>

            <button class="dark-btn" mat-flat-button color="primary" type="submit">Send</button>
        </form>
    </mat-card>
</main>

<img class="logo" src="assets/img/logo_dark.png">