<div class="left-container">
    <mat-list>
        <div mat-subheader>A</div>
        <mat-divider></mat-divider>
        <div class="list-item">
            <div class="employee-icon">
                <span>AW</span>
            </div>
            <div class="employee-name">
                <span>Anton Weber</span>
                <a href="mailto:aweber@mail.de">aweber@mail.de</a>
            </div>
        </div>
        <div class="list-item">
            <div class="employee-icon">
                <span>AW</span>
            </div>
        </div>
        <div mat-subheader>B</div>
        <mat-divider></mat-divider>
        <div class="list-item">
            <div class="employee-icon">
                <span>BW</span>
            </div>
            <div class="employee-name">
                <span>Ben Weber</span>
                <a href="mailto:bweber@mail.de">bweber@mail.de</a>
            </div>
        </div>
        <div mat-subheader>C</div>
        <mat-divider></mat-divider>
        <div class="list-item">
            <div class="employee-icon">
                <span>CW</span>
            </div>
        </div>
    </mat-list>
</div>

<div class="right-container">
    <header>
        <h2>Contacts</h2>
        <span>Better with a team</span>
    </header>
    <app-contacts-detail></app-contacts-detail>
</div>

<button mat-flat-button color="primary">
    New contact
    <mat-icon>person_add</mat-icon>
</button>