<div class="left-container">
    <mat-list>
        <div *ngFor="let letter of alphabet; let i = index">
            <div mat-subheader>{{ letter }}</div>
            <mat-divider></mat-divider>
            <div class="list-item" *ngFor="let contact of sortedContacts[i]; let j = index"
                (click)="openContact(contact)"
                [class.selected-bg]="selectedBG == contact.id || selectedBG == contact.firstName + contact.lastName">
                <div class="contact-icon" [ngStyle]="{'background-color': contact.color, 'border-color': contact.color}"
                    [class.selected-icon]="selectedBG == contact.id || selectedBG == contact.firstName + contact.lastName">
                    <span>{{ contact.firstName.toUpperCase().charAt(0) }}{{ contact.lastName.toUpperCase().charAt(0)
                        }}</span>
                </div>
                <div class="contact-name">
                    <span
                        [class.selected-text]="selectedBG == contact.id || selectedBG == contact.firstName + contact.lastName">
                        {{ contact.firstName }} {{ contact.lastName }}</span>
                    <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                </div>
            </div>
        </div>
    </mat-list>
</div>

<div class="right-container">
    <header>
        <h2>Contacts</h2>
        <span>Better with a team</span>
    </header>
    <app-contacts-detail *ngIf="selectedContact" [contact]="selectedContact" (newData)="showNewData($event)">
    </app-contacts-detail>
</div>

<button mat-flat-button color="primary" (click)="addContactDialog()">
    New contact
    <mat-icon>person_add</mat-icon>
</button>