<div class="left-container">
    <mat-list>
        <div *ngFor="let letter of alphabet; let i = index">
            <div mat-subheader>{{ letter }}</div>
            <mat-divider></mat-divider>
            <div class="list-item" *ngFor="let contact of sortedContacts[i]" (click)="openContact(contact)">
                <div class="contact-icon">
                    <span>AW</span>
                </div>
                <div class="contact-name">
                    <span>{{ contact.firstName }} {{ contact.lastName }}</span>
                    <a href="mailto:aweber@mail.de">{{ contact.email }}</a>
                </div>
            </div>
        </div>
    </mat-list>
</div>

<div class="right-container">
    <header>
        <h2>Contacts</h2>
        <span>Better with a team</span>
    </header>
    <app-contacts-detail *ngIf="selectedContact" [contact]="selectedContact"></app-contacts-detail>
</div>

<button mat-flat-button color="primary" (click)="addContactDialog()">
    New contact
    <mat-icon>person_add</mat-icon>
</button>