:host {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: calc(100vh - 64px);
    padding: 16px;
    box-sizing: border-box;
    background: #F5F5F5;
}

.top-container {
    padding: 30px 30px 46px 30px;
}

header {
    display: flex;
    align-items: center;
    height: 65.5px;

    h2 {
        font-size: 40px;
        font-weight: 700;
        margin: 0;
        padding-right: 20px;
        line-height: 40px;
        border-right: 2px solid #29ABE2;
    }

    span {
        padding-left: 20px;
        font-size: 18px;
    }
}

mat-card {
    box-shadow: 0px 0px 1px -1px rgb(0 0 0 / 20%),
        0px 0px 1px 0px rgb(0 0 0 / 14%),
        0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
}

main {
    display: flex;
}

.container {
    padding-left: 30px;
    width: 493px;
}

.first-row {
    display: flex;
    justify-content: space-between;

    mat-card {
        width: 33.3%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:nth-child(2) {
            margin-inline: 21.5px;
        }

        span:first-child {
            font-size: 40px;
            font-weight: 600;
            line-height: 120%;
        }

        span:nth-child(2) {
            color: #2A3647;
            width: 90%;
            text-align: center;
        }
    }
}

.second-row {
    width: 100%;
    height: 150px;
    margin-top: 21.5px;
    margin-bottom: 21.5px;
    display: flex;
}

.urgent {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #D1D1D1;
    width: 45%;
    padding-right: 16px;
    box-sizing: border-box;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;

        span:first-child {
            font-size: 40px;
            font-weight: 600;
            line-height: 120%;
        }

        span:nth-child(2) {
            color: #2A3647;
        }
    }
}

.deadline-container {
    width: 55%;
    display: flex;
    justify-content: flex-end;
    padding-inline: 16px;
    box-sizing: border-box;
}

.deadline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2A3647;

    span:first-child {
        font-size: 19px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}


.third-row {
    display: flex;
    justify-content: space-between;

    mat-card {
        width: 235.75px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 20px;

            span:first-child {
                font-size: 40px;
                font-weight: 600;
                line-height: 120%;
            }

            span:nth-child(2) {
                color: #2A3647;
            }
        }
    }
}


.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    width: calc(100vw - 817.48px);

    span:first-child {
        font-size: 40px;
        font-weight: 500;
        line-height: 120%;
    }

    span:nth-child(2) {
        font-size: 55px;
        font-weight: 700;
        line-height: 120%;
        color: #29ABE2;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.d-none {
    display: none;
}

@media (max-width: 1220px) {
    :host {
        align-items: center;
        position: relative;
        animation: no-scroll 1.7s ease-in-out;
    }

    .top-container {
        width: 493px;
        box-sizing: border-box;
    }

    .container {
        padding: unset;
    }

    .greeting {
        position: absolute;
        margin: unset;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        align-items: center;
        background-color: #F5F5F5;
        opacity: 1;
        animation: fade-out .4s ease-in-out;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;

        span {
            text-align: center;
        }

        span:nth-child(2) {
            max-width: 90%;
        }
    }

    @keyframes fade-out {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes no-scroll {
        0% {
            overflow: hidden;
        }

        99% {
            overflow: hidden;
        }

        100% {
            overflow: auto;
        }
    }
}

@media (max-width: 950px) {
    :host {
        height: calc(100% - 64px);
    }

    .top-container {
        padding-top: 0;
        padding-bottom: 12.75px;
    }
}

@media (max-width: 950px) and (max-height: 766px) {
    .second-row {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width: 850px) {
    .top-container {
        padding-top: 0;
    }
}


@media (max-height: 760px) {
    .top-container {
        padding-top: 0;
        padding-bottom: 12.75px;
    }
}

@media (max-height: 666px) {
    .second-row {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width: 578px) {
    .top-container {
        width: 98%;
    }

    main {
        width: 100%;
        justify-content: center;
    }

    .container {
        width: 98%;
    }

    .first-row {
        mat-card {
            width: 33.3%;

            &:nth-child(2) {
                margin-inline: 21.5px;
            }
        }
    }

    .third-row {
        mat-card {
            width: 50%;

            &:first-child {
                margin-right: 21.5px;
            }
        }
    }

    .greeting {
        span:nth-child(2) {
            max-width: 90%;
        }
    }
}

@media (max-width: 450px) {
    .first-row {
        mat-card {
            span {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .deadline-container {
        padding-right: unset;
    }
}

@media (max-width: 400px) {
    img {
        height: 55px;
    }

    main {
        font-size: 14px;
    }

    header {
        position: relative;

        h2 {
            border: unset;
        }

        span {
            display: none;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 60px;
            border-bottom: 2px solid #29ABE2;
        }
    }
}

@media (max-width: 375px) {
    img {
        height: 45px;
    }

    .first-row {
        mat-card:nth-child(2) {
            margin-inline: 5px;
        }
    }

    .urgent {
        flex-direction: column;

        div {
            margin-left: unset;
        }
    }

    .third-row {
        mat-card {
            display: flex;
            flex-direction: column;

            &:first-child {
                margin-right: 5px;
            }

            div {
                margin-left: unset;
            }
        }
    }
}

@media (max-width: 320px) {
    header {
        height: 45.5px;

        h2 {
            font-size: 30px;
            line-height: 45.5px;
        }
    }
}