<div class="top-container">
    <header>
        <h2>Summary</h2>
        <span>Everything in a nutshell</span>
    </header>
</div>

<main>
    <div class="greeting">
        <span class="daytime">{{ dayTime }},</span>
        <span class="user-name">
            {{ currentUser?.firstName }}
            <span *ngIf="currentUser?.id !== 'AuiKcFHvlMT6O4jALPPL3zmDySL2'">{{ currentUser?.lastName }}</span>
        </span>
    </div>

    <div class="container">
        <div class="category">
            <div class="first-row d-flex">
                <mat-card routerLink="/page/board">
                    <span>{{ todos }}</span>
                    <span>Tasks in Board</span>
                </mat-card>
                <mat-card routerLink="/page/board">
                    <span>{{ inProgress }}</span>
                    <span>Tasks in Progress</span>
                </mat-card>
                <mat-card routerLink="/page/board">
                    <span>{{ feedback }}</span>
                    <span>Awaiting Feedback</span>
                </mat-card>
            </div>

            <mat-card class="second-row" routerLink="/page/board">
                <div class="urgent">
                    <img src="/assets/img/icon/urgent.png">
                    <div>
                        <span>{{ urgent }}</span>
                        <span>Urgent</span>
                    </div>
                </div>
                <div class="deadline-container">
                    <div class="deadline">
                        <span>{{ deadline }}</span>
                        <span>Upcoming Deadline</span>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="third-row">
            <mat-card routerLink="/page/board">
                <img src="/assets/img/icon/todo.png">
                <div>
                    <span>{{ todos }}</span>
                    <span>To-do</span>
                </div>
            </mat-card>
            <mat-card routerLink="/page/board">
                <img src="/assets/img/icon/done.png">
                <div>
                    <span>{{ done }}</span>
                    <span>Done</span>
                </div>
            </mat-card>
        </div>
    </div>
</main>