<div class="left-side">
    <img src="/assets/img/logo_white.png">
    <h2>Add contact</h2>
    <span>Tasks are better with a team!</span>
    <div class="line"></div>
</div>

<div class="middle">
    <img src="/assets/img/contact_placeholder.png">
</div>

<div class="right-side">
    <form [formGroup]="newContact" id="newContact" (ngSubmit)="createContact()" novalidate>
        <mat-form-field appearance="outline">
            <mat-label>FIrstname</mat-label>
            <input matInput placeholder="Firstname" formControlName="firstName">
            <mat-icon matSuffix>person_outline</mat-icon>
            <mat-error *ngIf="errorHandling('firstName', 'required')">
                You must provide a <strong>firstname</strong>
            </mat-error>
            <mat-error *ngIf="errorHandling('firstName', 'pattern')">
                Not allowed are <strong>Ä, Ü, Ö</strong> or <strong>special characters</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Lastname</mat-label>
            <input matInput placeholder="Lastname" formControlName="lastName">
            <mat-icon matSuffix>person_outline</mat-icon>
            <mat-error *ngIf="errorHandling('lastName', 'required')">
                You must provide a <strong>lastname</strong>
            </mat-error>
            <mat-error *ngIf="errorHandling('lastName', 'pattern')">
                Not allowed are <strong>Ä, Ü, Ö</strong> or <strong>special characters</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" type="email" formControlName="email">
            <mat-icon matSuffix>mail_outline</mat-icon>
            <mat-error *ngIf="errorHandling('email', 'required') || errorHandling('email', 'pattern')">
                You must provide a <strong>email-address</strong> (e.g.: john@doe.com)
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone" formControlName="phone">
            <mat-icon matSuffix>call</mat-icon>
            <mat-error *ngIf="errorHandling('phone', 'required') || errorHandling('phone', 'pattern')">
                You must provide a <strong>phone-number</strong>
            </mat-error>
        </mat-form-field>

        <div class="btn-container">
            <button class="light-btn" mat-flat-button (click)="closeDialog()">
                Cancel
                <mat-icon>close</mat-icon>
            </button>
            <button type="submit" form="newContact" class="dark-btn" mat-flat-button color="primary">
                Create contact
                <mat-icon>done</mat-icon>
            </button>
        </div>
    </form>


    <button class="close-btn" (click)="closeDialog()" mat-icon-button color="primary">
        <mat-icon>close</mat-icon>
    </button>
</div>