<div class="left-side">
    <img src="/assets/img/logo_white.png">
    <h2 *ngIf="!openedAsDialogEditContact">Add contact</h2>
    <h2 *ngIf="openedAsDialogEditContact">Edit contact</h2>
    <span *ngIf="!openedAsDialogEditContact">Tasks are better with a team!</span>
    <div class="line"></div>
</div>

<div class="middle">
    <img *ngIf="openedAsDialogNewContact" src="/assets/img/contact_placeholder.png">
    <div *ngIf="openedAsDialogEditContact" class="contact-icon" [ngStyle]="{'background-color': contact.color}">
        <span>{{ contact.firstName.charAt(0).toUpperCase() }}{{ contact.lastName.charAt(0).toUpperCase() }}</span>
    </div>
</div>

<div class="right-side">
    <form [formGroup]="newContact" id="contactForm" (ngSubmit)="createContact()" novalidate>
        <mat-form-field appearance="outline">
            <mat-label>Firstname</mat-label>
            <input matInput placeholder="Firstname" formControlName="firstName" class="uppercase">
            <mat-icon matSuffix>person_outline</mat-icon>
            <mat-error *ngIf="errorHandling('firstName', 'required')">
                You must provide a <strong>firstname</strong>
            </mat-error>
            <mat-error *ngIf="errorHandling('firstName', 'pattern')">
                Not allowed are <strong>Ä, Ü, Ö</strong> or <strong>special characters</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Lastname</mat-label>
            <input matInput placeholder="Lastname" formControlName="lastName" class="uppercase">
            <mat-icon matSuffix>person_outline</mat-icon>
            <mat-error *ngIf="errorHandling('lastName', 'required')">
                You must provide a <strong>lastname</strong>
            </mat-error>
            <mat-error *ngIf="errorHandling('lastName', 'pattern')">
                Not allowed are <strong>Ä, Ü, Ö</strong> or <strong>special characters</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" type="email" formControlName="email">
            <mat-icon matSuffix>mail_outline</mat-icon>
            <mat-error *ngIf="errorHandling('email', 'required') || errorHandling('email', 'pattern')">
                You must provide a <strong>email-address</strong> (e.g.: john@doe.com)
            </mat-error>
            <!-- <mat-error *ngIf="errorHandling('email', 'pattern')">
                Not allowed are <strong>ä, ü, ö</strong> or <strong>special characters</strong>
            </mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone" formControlName="phone">
            <mat-icon matSuffix>call</mat-icon>
            <mat-error *ngIf="errorHandling('phone', 'required') || errorHandling('phone', 'pattern')">
                You must provide a <strong>phone-number</strong>
            </mat-error>
        </mat-form-field>
    </form>

    <div class="btn-container">
        <button class="light-btn" mat-flat-button (click)="closeDialog('cancel')">
            Cancel
            <mat-icon>close</mat-icon>
        </button>
        <div>
            <button *ngIf="openedAsDialogEditContact" (click)="openDeleteOverlay()" class="delete-btn" mat-flat-button>
                Delete
                <mat-icon>delete_forever</mat-icon>
            </button>
            <button *ngIf="openedAsDialogNewContact" type="submit" form="contactForm" class="dark-btn" mat-flat-button
                color="primary">
                Create contact
                <mat-icon>done</mat-icon>
            </button>
            <button *ngIf="openedAsDialogEditContact" type="submit" form="contactForm" class="dark-btn" mat-flat-button
                color="primary">
                Save
                <mat-icon>done</mat-icon>
            </button>
        </div>
    </div>


    <button class="close-btn" (click)="closeDialog('cancel')" mat-icon-button color="primary">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="delete-overlay" *ngIf="deleteOverlay" (click)="closeDeleteOverlay()">
    <mat-card (click)="stopProp($event)">
        <mat-card-title>Delete Contact</mat-card-title>
        <mat-card-content>
            <p>
                You are about to delete this contact permanently. There is no way to get it back.
            </p>
            <p>
                Do you want to proceed?
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="closeDeleteOverlay()" class="light-btn" mat-flat-button>
                Cancel
                <mat-icon>close</mat-icon>
            </button>
            <button mat-flat-button (click)="deleteContact()" color="warn" class="delete-btn-overlay">
                Delete
                <mat-icon>delete_forever</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>