:host {
    display: flex;
    flex-direction: column;
    height: calc(100% - 64px);
    padding: 16px;
    box-sizing: border-box;
    background: #F5F5F5;
    position: relative;
    overflow: auto;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin: unset;
    padding: 30px 30px 46px 30px;
    line-height: 65.5px;
}

form {
    display: flex;
    padding-inline: 30px;
}

.left-half {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 40px;
    border-right: 1px solid #D1D1D1;
}

.category-container {
    display: flex;
    flex-direction: column;
}

.cat-option-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .pink {
        background-color: #FC71FF;
    }

    .turquoise {
        background-color: #1FD7C1;
    }
}

.pseudo-check {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
}

mat-radio-group {
    display: flex;
    height: 20px;
    width: calc(100% - 25px);
    margin-top: -13px;
    margin-bottom: 21.5px;
    padding-left: 25px;
    padding-bottom: 2px;
    border: 2px solid transparent;
    position: relative;

    mat-radio-button {
        position: absolute;
        left: 0;
    }
}

.container {
    display: block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    user-select: none;
}

.light-blue {
    background-color: #8AA4FF;
}

.red {
    background-color: #FF0000;
}

.green {
    background-color: #2AD300;
}

.orange {
    background-color: #FF8A00;
}

.purple {
    background-color: #E200BE;
}

.blue {
    background-color: #0038FF;
}

.checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;

    &:after {
        content: "";
        position: absolute;
        display: none;
        top: 5px;
        left: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
    }
}

.error-category-color {
    position: absolute;
    animation: fadeIn .5s;
    top: 22px;
    margin-left: -15px;

    span {
        color: #ff3d00;
        font-size: 75%;
    }
}

.position-right {
    left: 200px;
}

.assigned-to {
    text-transform: capitalize;
}

.position-error {
    position: relative;
    top: 35px;
}

.color-error {
    border: 1px solid red;
}

.right-half {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 40px;
}

.prio-container {
    margin-bottom: 25.5px;
    position: relative;
}

.prio {
    border: 2px solid transparent;

    h3 {
        margin-bottom: 0;
        color: rgba(0, 0, 0, 0.6);
    }

    mat-button-toggle-group {
        border: unset;
        border-radius: unset;
        width: 100%;

        mat-button-toggle {
            border: solid 1px #e0e0e0;
            border-radius: 4px;
            width: 33.33%;

            &:not(:last-child) {
                margin-right: 10px;
            }

            span {
                margin-right: 10px;
            }
        }
    }
}

.error-prio {
    position: absolute;
    margin-top: 4px;
    padding-left: 12px;
    animation: fadeIn .5s;

    span {
        color: #ff3d00;
        font-size: 75%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.field-invalid {
    border: 2px solid #ff3d00 !important;
    border-radius: 5px;

    h3 {
        color: #ff3d00 !important;
    }
}

.btns {
    position: absolute;
    right: 16px;
    left: 16px;
    bottom: 0;
    padding-inline: 30px;
    padding-bottom: 46px;
    display: flex;
    justify-content: space-between;
}

.dark-btn {
    padding-inline: 10px 6px;

    &:hover {
        background-color: #29ABE2;
        box-shadow: 0px 3px 4px 0px rgb(0 0 0 / 20%);
        transition: all 145ms ease-in-out;
    }

    mat-icon {
        font-size: 20px;
    }
}

.light-btn {
    border: 1px solid #D3D3D3;
    margin-right: 20px;
    padding-inline: 10px 6px;

    &:hover {
        border: 1px solid #29ABE2;
        background-color: white;
        color: #29ABE2;
        box-shadow: 0px 3px 4px 0px rgb(0 0 0 / 20%);
        transition: all 145ms ease-in-out;
    }

    mat-icon {
        font-size: 22px;
    }
}

.delete-btn {
    border: 1px solid #D3D3D3;
    margin-right: 20px;
    padding-inline: 10px 6px;

    &:hover {
        border: 1px solid #ff3d00;
        background-color: white;
        color: #ff3d00;
        box-shadow: 0px 3px 4px 0px rgb(0 0 0 / 20%);
        transition: all 145ms ease-in-out;
    }

    mat-icon {
        font-size: 22px;
    }
}

.delete-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);

    mat-card {
        width: 60%;
        padding: 30px;

        mat-card-title {
            color: #ff3d00;
        }

        .delete-btn-overlay:hover {
            background-color: #ff2700;
            box-shadow: 0px 3px 4px 0px rgb(0 0 0 / 20%);
            transition: all 145ms ease-in-out;
        }
    }
}

:host ::ng-deep .mat-form-field-outline-start {
    background: white;
}

:host ::ng-deep .mat-form-field-outline-gap {
    background: white;
}

:host ::ng-deep .mat-form-field-outline-end {
    background: white;
}

@media (max-height: 904px) {
    :host {
        padding-right: 0px;
    }
}

@media (max-width: 850px) {
    :host {
        align-items: center;
    }

    h2 {
        width: 493px;
        box-sizing: border-box;
        padding: 0 30px 8.75px 30px;
    }

    form {
        flex-direction: column;
        padding-inline: unset;
        width: 493px;
    }

    .left-half {
        width: unset;
        padding-right: unset;
        border-right: unset;
    }

    .right-half {
        width: unset;
        padding-left: unset;
    }

    .btns {
        position: unset;
        padding-bottom: 5.5px;
        padding-inline: unset;
    }
}

@media (max-height: 731px) {
    h2 {
        padding-top: 0;
        padding-bottom: 8.75px;
    }
}

@media (max-width: 550px) {
    h2 {
        width: 97%;
    }

    form {
        width: 97%;
    }
}

@media (max-width: 360px) {
    .prio {
        mat-button-toggle-group {
            flex-direction: column;
            align-items: center;

            mat-button-toggle {
                width: 150px;

                &:not(:last-child) {
                    margin-right: 0px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    h2 {
        font-size: 30px;
        line-height: 45.5px;
    }
}