<div class="top-container">
    <header>
        <h2>Summary</h2>
        <span>Everything in a nutshell</span>
    </header>
</div>

<main>
    <div class="content">
        <div class="first-row d-flex">
            <mat-card>
                <span>{{ todos }}</span>
                <span>Tasks in Board</span>
            </mat-card>
            <mat-card>
                <span>{{ inProgress }}</span>
                <span>Tasks in Progress</span>
            </mat-card>
            <mat-card>
                <span>{{ feedback }}</span>
                <span>Awaiting Feedback</span>
            </mat-card>
        </div>

        <mat-card class="second-row">
            <div class="urgent">
                <img src="/assets/img/icon/urgent.png">
                <div>
                    <span>{{ urgent }}</span>
                    <span>Urgent</span>
                </div>
            </div>
            <div class="deadline">
                <!-- October 16, 2022 -->
                <span>{{ deadline }}</span>
                <span>Upcoming Deadline</span>
            </div>
        </mat-card>

        <div class="third-row">
            <mat-card>
                <img src="/assets/img/icon/todo.png">
                <div>
                    <span>{{ todos }}</span>
                    <span>To-do</span>
                </div>
            </mat-card>
            <mat-card>
                <img src="/assets/img/icon/done.png">
                <div>
                    <span>{{ done }}</span>
                    <span>Done</span>
                </div>
            </mat-card>
        </div>
    </div>

    <div class="greeting">
        <span>Good morning,</span>
        <span>Sofia Müller</span>
    </div>
</main>