<main>
    <mat-card>
        <mat-card-title>Log in</mat-card-title>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
            <mat-icon matSuffix>mail_outline</mat-icon>
        </mat-form-field>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</main>

<div class="new-user">
    <span>Not a Join user?</span>
    <button mat-flat-button color="primary">Sign up</button>
</div>

<img class="logo" src="assets/img/logo.png">