<main>
    <mat-card>
        <mat-card-title>Log in</mat-card-title>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
            <mat-icon matSuffix>mail_outline</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
            <mat-icon matSuffix>lock_outline</mat-icon>
        </mat-form-field>
        <div class="check">
            <mat-checkbox>Remember me</mat-checkbox>
            <a href="">Forgot my password</a>
        </div>
        <div class="btns">
            <button routerLink="/main" class="dark-btn" mat-flat-button color="primary">Log in</button>
            <button class="light-btn" mat-flat-button>Guest Log in</button>
        </div>
    </mat-card>
</main>

<div class="new-user">
    <span>Not a Join user?</span>
    <button class="dark-btn" mat-flat-button color="primary">Sign up</button>
</div>

<img class="logo" src="assets/img/logo_dark.png">