<div class="top-half">
    <img class="logo" src="/assets/img/logo_white.png">
    <nav>
        <a [class.active]="currentRoute == '/main/summary'" routerLink="summary">
            <div>
                <img src="/assets/img/icon/summary.png">
            </div>
            <span>Summary</span>
        </a>
        <a [class.active]="currentRoute == '/main/board'" routerLink="board">
            <div>
                <img src="/assets/img/icon/board.png">
            </div>
            <span>Board</span>
        </a>
        <a [class.active]="currentRoute == '/main/addtask'" routerLink="addtask">
            <div>
                <img src="/assets/img/icon/add_task.png">
            </div>
            <span>Add Task</span>
        </a>
        <a [class.active]="currentRoute == '/main/contacts'" routerLink="contacts">
            <div>
                <img src="/assets/img/icon/contacts.png">
            </div>
            <span>Contacts</span>
        </a>
    </nav>
</div>

<div class="bottom-half">
    <div>
        <a routerLink="legalnotice" [class.active]="currentRoute == '/main/legalnotice'">
            <mat-icon class="fotter-icon">info_outlined</mat-icon>
            <span>Legal notice</span>
        </a>

        <a routerLink="dataprotection" [class.active]="currentRoute == '/main/dataprotection'">
            <mat-icon class="fotter-icon">admin_panel_settings</mat-icon>
            <span>Data protection</span>
        </a>
    </div>
</div>