<div class="top-half">
    <img class="logo" src="/assets/img/logo_white.png">
    <nav>
        <a [class.active]="active" routerLink="summary">
            <div>
                <img src="/assets/img/icon/summary.png">
            </div>
            <span>Summary</span>
        </a>
        <a routerLink="board">
            <div>
                <img src="/assets/img/icon/board.png">
            </div>
            <span>Board</span>
        </a>
        <a href="">
            <div>
                <img src="/assets/img/icon/add_task.png">
            </div>
            <span>Add Task</span>
        </a>
        <a href="">
            <div>
                <img src="/assets/img/icon/contacts.png">
            </div>
            <span>Contacts</span>
        </a>
    </nav>
</div>

<div class="bottom-half">
    <a href="">

        <img src="/assets/img/icon/legal_notice.png">

        <span>Legal notice</span>
    </a>
</div>