:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #2A3647;
    height: 100vh;
}

.top-half {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 100%;

    .logo {
        object-fit: none;
    }
}

nav {
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        padding: 10px 45px;

        div {
            width: 26px;
            height: 26px;
            display: flex;
            justify-content: flex-end;
            margin-right: 25px;

            img {
                height: 22px;
            }
        }
    }
}

.active {
    background-color: #091931;
}

.bottom-half {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: calc(50% - 70px);
    width: 100%;
    padding-bottom: 70px;

    a {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;

        img {
            margin-right: 25px;
        }
    }
}