main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #F5F5F5;
}

.back-btn {
    position: absolute;
}

.content {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9.5px;
}

mat-card-title {
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 20px;
    margin-bottom: 25.5px;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        left: 10%;
        bottom: 0;
        width: 80%;
        border-bottom: 2px solid #29ABE2;
    }
}

p {
    text-align: center;
}

.dark-btn:hover {
    background-color: #29ABE2;
    box-shadow: 0px 3px 4px 0px rgb(0 0 0 / 20%);
    transition: all 145ms ease-in-out;
}

.disabled {
    pointer-events: none;
}

.timer {
    display: inline-block;
    width: 22.5px;
}

.logo {
    position: absolute;
    height: calc(335px / 2.5);
    width: calc(274px / 2.5);
    top: 50px;
    left: 50px;
}