<div class="name-container">
    <div class="contact-icon" [ngStyle]="{'background-color': contact.color}">
        <span>{{ contact.firstName.charAt(0).toUpperCase() }}{{ contact.lastName.charAt(0).toUpperCase() }}</span>
    </div>
    <div class="name">
        <span>{{ contact.firstName }} {{ contact.lastName }}</span>
        <button mat-button color="accent" (click)="addTaskDialog(contact)">
            <mat-icon>add</mat-icon>
            Add task
        </button>
    </div>
</div>

<div class="info-container">
    <div class="info-header">
        <h2>Contact Information</h2>
        <button mat-button color="primary" (click)="editContact(contact)">
            <mat-icon>edit</mat-icon>
            Edit Contact
        </button>
    </div>
    <div class="infos">
        <h3>Email</h3>
        <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
        <h3>Phone</h3>
        <span>{{ contact.phone }}</span>
    </div>
</div>