<h2>Legal Notice</h2>

<button mat-icon-button routerLink="summary">
    <mat-icon>arrow_back</mat-icon>
</button>

<main>
    <h3>Angaben gemäß § 5 TMG:</h3>
    <p>Lukas Kolbe</p>
    <h4>Postanschrift:</h4>
    <p>Gutenbergstraße 106<br>Köln<br></p>
    <h4>Kontakt:</h4>
    <p>Telefon: +49 15753310130 <br>E-Mail: <a href="mailto: contact@lukas-kolbe-dev.de">contact@lukas-kolbe-dev.de</a>
    </p>
    <p><em>Das Impressum wurde mithilfe der <a href="https://www.activemind.de" target="_blank">activeMind AG</a>
            erstellt.</em></p>
</main>