:host {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 64px);
    padding: 16px;
    box-sizing: border-box;
    background: #F5F5F5;
}

.top-container {
    padding: 30px 30px 46px 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        font-size: 40px;
        font-weight: 700;
        margin: 0;
        line-height: 65.5px;
    }

    mat-form-field {
        width: 150px;
        margin-right: 25px;

        mat-icon {
            cursor: pointer;
        }
    }

    button {
        padding-inline: 10px 6px;

        &:hover {
            background-color: #29ABE2;
            box-shadow: 0px 3px 4px 0px rgb(0 0 0 / 20%);
            transition: all 145ms ease-in-out;
        }
    }
}

.resp-btn {
    display: none;
}

main {
    padding-inline: 30px;
    display: flex;
    height: calc(100% - 141.5px);
}

.content {
    width: 25%;

    &:not(:last-child) {
        margin-right: 12px;
        padding-right: 12px;
        border-right: 1px solid rgb(0 0 0 / 10%);
    }
}

.headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    h3 {
        font-size: 18px;
        margin: 0;
        color: #2A3647;
        font-weight: 600;
    }

    button {
        &:hover {
            border: 1px solid #29ABE2;
            color: #29ABE2;
        }

        mat-icon {
            padding-right: .64px;
        }

        border: 1px solid;
        padding-inline: 0;
        min-width: unset;
        line-height: unset;
    }
}

.drop-container {
    min-height: calc(100% - 53px);
    max-height: calc(100% - 53px);
    overflow-y: auto;
}

.placeholder {
    display: none;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    margin-bottom: 25px;
}

@media (max-width: 950px) {
    :host {
        overflow: auto;
        height: calc(100vh - 164px);
        position: unset;
    }

    main {
        flex-direction: column;
        padding-inline: 56px 40px;
        box-sizing: border-box;
    }

    .content {
        width: unset;

        &:not(:last-child) {
            margin-right: unset;
            padding-right: unset;
            border-right: unset;
        }
    }

    .drop-container {
        min-height: 50px;
    }

    .placeholder {
        display: flex;
    }
}

@media (max-width: 850px) {
    :host {
        align-items: center;
        padding-right: 0;
    }

    .top-container {
        width: 493px;
        box-sizing: border-box;
        padding: 0 30px 12.75px 30px;
    }

    main {
        width: 100%;
        height: calc(100% - 78.25px);
        padding-inline: 56px;
    }
}

@media (max-height: 760px) {
    .top-container {
        padding-top: 0;
        padding-bottom: 12.75px;
    }

    main {
        height: calc(100% - 78.25px);
    }
}

@media (max-width: 578px) {
    .top-container {
        width: 98%;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        position: relative;

        button {
            position: absolute;
            right: 16px;
            top: 40px;
        }
    }

    main {
        height: calc(100% - 143.75px);
    }
}

@media (max-width: 450px) {
    .d-none {
        display: none;
    }

    .resp-btn {
        display: block;
        padding-inline: 0 !important;
        border-radius: 4px;

        mat-icon {
            padding-bottom: 2px;
        }
    }
}

@media (max-width: 350px) {
    header {
        button {
            right: -16px;
        }
    }

    main {
        padding-left: 0;
    }
}

@media (max-width: 320px) {
    header {
        h2 {
            font-size: 30px;
            line-height: 45.5px;
        }
    }
}