<main>
    <mat-card>
        <button class="back-btn" mat-icon-button color="accent" routerLink="/registration/login">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <form [formGroup]="signUpForm" (ngSubmit)="signUp()" novalidate>
            <mat-card-title>Sign up</mat-card-title>
            <mat-form-field appearance="outline">
                <mat-label>Firstname</mat-label>
                <input matInput placeholder="Firstname" formControlName="firstName" class="uppercase">
                <mat-icon matSuffix>person_outline</mat-icon>
                <mat-error *ngIf="errorHandling('firstName', 'required')">
                    You must provide a <strong>firstname</strong>
                </mat-error>
                <mat-error *ngIf="errorHandling('firstName', 'pattern')">
                    Not allowed are <strong>Ä, Ü, Ö</strong> or <strong>special characters</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Lastname</mat-label>
                <input matInput placeholder="Lastname" formControlName="lastName" class="uppercase">
                <mat-icon matSuffix>person_outline</mat-icon>
                <mat-error *ngIf="errorHandling('lastName', 'required')">
                    You must provide a <strong>lastname</strong>
                </mat-error>
                <mat-error *ngIf="errorHandling('lastName', 'pattern')">
                    Not allowed are <strong>Ä, Ü, Ö</strong> or <strong>special characters</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-icon matSuffix>mail_outline</mat-icon>
                <mat-error *ngIf="errorHandling('email', 'required')">
                    You must provide a <strong>email-address</strong>
                </mat-error>
                <mat-error *ngIf="errorHandling('email', 'pattern')">
                    Wrong format <strong>(e.g.: john-doe@eg-mail.com)</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Phone" formControlName="phone">
                <mat-icon matSuffix>call</mat-icon>
                <mat-error *ngIf="errorHandling('phone', 'required') || errorHandling('phone', 'pattern')">
                    You must provide a <strong>phone-number</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" formControlName="password" type="password">
                <mat-icon matSuffix>lock_outline</mat-icon>
                <mat-error *ngIf="errorHandling('password', 'required')">
                    You must provide a <strong>password</strong>
                </mat-error>
                <mat-error *ngIf="errorHandling('password', 'minlength')">
                    Use at least <strong>6 characters</strong>
                </mat-error>
            </mat-form-field>

            <div class="confirm-container">
                <mat-form-field appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input matInput placeholder="Confirm password" formControlName="confirmPassword" type="password">
                    <mat-icon matSuffix>lock_outline</mat-icon>
                    <mat-error *ngIf="errorHandling('confirmPassword', 'required')">
                        You must confirm your <strong>password</strong>
                    </mat-error>
                </mat-form-field>
                <mat-error *ngIf="signUpForm.errors?.['passwordDontMatch']">
                    Your <strong>passwords</strong> don't match
                </mat-error>
            </div>
            <button class="dark-btn" mat-flat-button color="primary" type="submit">Sign up</button>
        </form>
    </mat-card>
</main>

<img class="logo" src="assets/img/logo_dark.png">