<div class="top-container">
    <header>
        <h2>Board</h2>
        <div>
            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Find Task</mat-label>
                <input matInput placeholder="Find Task">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <button (click)="addTaskDialog('todo')" mat-flat-button color="primary">
                Add task
                <mat-icon matSuffix>add</mat-icon>
            </button>
        </div>
    </header>
</div>

<main cdkDropListGroup>
    <div class="content">
        <div class="headers">
            <h3>To do</h3>
            <button (click)="addTaskDialog('todo')">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="drop-container" cdkDropList id="todo" [cdkDropListData]="todos" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let todo of todos">
                <!-- <app-board-card [card]="todo" (click)="openTask(todo)"></app-board-card> -->
                <app-board-card [card]="todo" (click)="openOverlay(todo)"></app-board-card>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="headers">
            <h3>In progress</h3>
            <button (click)="addTaskDialog('inProgress')">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="drop-container" cdkDropList id="inProgress" [cdkDropListData]="inProgress"
            (cdkDropListDropped)="drop($event)">
            <div *ngFor="let inProgress of inProgress">
                <!-- <app-board-card [card]="inProgress" (click)="openTask(inProgress)"></app-board-card> -->
                <app-board-card [card]="inProgress" (click)="openOverlay(inProgress)"></app-board-card>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="headers">
            <h3>Feedback</h3>
            <button (click)="addTaskDialog('feedback')">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="drop-container" cdkDropList id="feedback" [cdkDropListData]="feedback"
            (cdkDropListDropped)="drop($event)">
            <div *ngFor="let feedback of feedback">
                <!-- <app-board-card [card]="feedback" (click)="openTask(feedback)"></app-board-card> -->
                <app-board-card [card]="feedback" (click)="openOverlay(feedback)"></app-board-card>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="headers">
            <h3>Done</h3>
            <button (click)="addTaskDialog('done')">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="drop-container" cdkDropList id="done" [cdkDropListData]="done" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let done of done">
                <!-- <app-board-card [card]="done" (click)="openTask(done)"></app-board-card> -->
                <app-board-card [card]="done" (click)="openOverlay(done)"></app-board-card>
            </div>
        </div>
    </div>
</main>

<app-board-task-detail *ngIf="overlayOpen" [details]="details" (close)="closeOverlay()"></app-board-task-detail>