:host {
    display: flex;
    position: relative;
    height: 600px;
    background-color: #F5F5F5;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2A3647;
    width: 35%;
    box-sizing: border-box;
    padding-inline: 30px;
}

.content {
    color: white;

    img {
        height: 50px;
        margin-bottom: 16px;
    }

    h2 {
        font-size: 50px;
        line-height: 120%;
        font-weight: 700;
    }

    span {
        font-size: 20px;
        line-height: 120%;
    }

    .line {
        height: 2px;
        width: 65px;
        background-color: #29ABE2;
        margin-top: 7px;
    }
}

.middle {
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    img {
        width: 110px;
    }
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px;
    font-size: 40px;
    color: white;
    border-radius: 100%;
    border: 2px solid white;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 43%;
    box-sizing: border-box;
    padding-right: 30px;

    form {
        display: flex;
        flex-direction: column;
    }
}

.btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.dark-btn {
    padding-inline: 10px 6px;

    &:hover {
        background-color: #29ABE2;
        box-shadow: 0px 3px 4px 0px rgb(0 0 0 / 20%);
        transition: all 145ms ease-in-out;
    }

    mat-icon {
        font-size: 20px;
    }
}

.light-btn {
    border: 1px solid #D3D3D3;
    margin-right: 20px;
    padding-inline: 10px 6px;

    &:hover {
        border: 1px solid #29ABE2;
        background-color: white;
        color: #29ABE2;
        box-shadow: 0px 3px 4px 0px rgb(0 0 0 / 20%);
        transition: all 145ms ease-in-out;
    }

    mat-icon {
        font-size: 22px;
    }
}

.uppercase {
    text-transform: capitalize;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.delete-btn {
    border: 1px solid #D3D3D3;
    margin-right: 20px;
    padding-inline: 10px 6px;

    &:hover {
        border: 1px solid #ff3d00;
        background-color: white;
        color: #ff3d00;
        box-shadow: 0px 3px 4px 0px rgb(0 0 0 / 20%);
        transition: all 145ms ease-in-out;
    }

    mat-icon {
        font-size: 22px;
    }
}

.delete-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);

    mat-card {
        width: 60%;
        padding: 30px;

        mat-card-title {
            color: #ff3d00;
        }

        .delete-btn-overlay:hover {
            background-color: #ff2700;
            box-shadow: 0px 3px 4px 0px rgb(0 0 0 / 20%);
            transition: all 145ms ease-in-out;
        }
    }
}

:host ::ng-deep .mat-form-field-outline-start {
    background: white;
}

:host ::ng-deep .mat-form-field-outline-gap {
    background: white;
}

:host ::ng-deep .mat-form-field-outline-end {
    background: white;
}

@media (max-width: 900px) {
    .btn-container {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 16px;
    }

    .cancel {
        margin-top: 20px;
        margin-right: unset;
    }
}

@media (max-width: 700px) and (max-height: 802px) {
    :host {
        height: 99vh !important;
    }
}

@media (max-width: 700px) {
    :host {
        flex-direction: column;
        height: 90vh;
        overflow: auto;
    }

    .left-side {
        width: 100%;
        height: 35%;
        align-items: center;
        background-color: #2A3647;
    }

    .content {
        img {
            display: none;
        }
    }

    .middle {
        width: 100%;
        position: relative;

        img {
            position: absolute;
            bottom: -45px;
        }
    }

    .contact-icon {
        position: absolute;
        bottom: -45px;
    }

    .right-side {
        width: 100%;
        height: 65%;
        padding-top: 50px;
        padding-right: unset;
        justify-content: unset;
        align-items: center;

        form {
            width: 90%;
        }
    }

    .close-btn {
        color: white;
        top: 10px;
        right: 10px;
    }

    .btn-container {
        width: 90%;
        flex-direction: unset;
        align-items: unset;
    }

    .cancel {
        margin-top: unset;
        margin-right: 20px;
    }
}

@media (max-width: 700px) and (max-height: 730px) {
    .middle {
        img {
            width: 80px;
            bottom: -30px;
        }
    }

    .contact-icon {
        width: 80px;
        height: 80px;
        bottom: -30px;
        font-size: 30px;
    }

    .right-side {
        padding-top: 30px;
    }
}

@media (max-width: 380px) {
    .content {
        h2 {
            font-size: 38px;
        }

        span {
            font-size: 18px;
        }
    }
}

@media (max-width: 355px) {
    .btn-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .cancel {
        margin-top: 20px;
        margin-right: unset;
    }
}