body {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Inter', "Helvetica Neue", sans-serif;
}

mat-card {
    border-radius: 20px !important;
    box-sizing: border-box;
    font-family: 'Inter', "Helvetica Neue", sans-serif !important
}

mat-list-item {
    font-family: 'Inter', "Helvetica Neue", sans-serif !important
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 10px;
    border: 4px solid #F5F5F5;
}

::-webkit-scrollbar-thumb:hover {
    background: #c0c0c0;
}

.mat-form-field-subscript-wrapper {
    overflow: visible !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: transparent;
}

.mat-radio-button.mat-accent .mat-radio-outer-circle {
    border-color: transparent;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: rgb(255, 255, 255);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: transparent;
}

.mat-snack-bar-container {
    min-width: fit-content !important;
}

.custom-dialog-container .mat-dialog-container {
    padding: 0;
    border-radius: 20px;
}

.custom-addTask-container .mat-dialog-container {
    border-radius: 20px;
}

.mat-toolbar-single-row {
    height: 64px;
}

@media (max-width: 950px) {
    .mat-snack-bar-container {
        margin-bottom: 124px !important;
    }

    .hot-toast-bar-base {
        margin-bottom: 124px !important;
    }
}