<mat-card cdkDrag [cdkDragData]="card">
    <mat-card-subtitle class="{{ card.categoryColor }}">{{ card.category }}</mat-card-subtitle>
    <mat-card-title class="max-lines">{{ card.title }}</mat-card-title>
    <mat-card-content class="max-lines">
        <p>{{ card.description }}</p>
    </mat-card-content>
    <div class="card-bottom">
        <div class="contact-box">
            <ng-container *ngFor="let contact of card.contacts; let i = index">
                <div class="contact" *ngIf="i < 2" [ngStyle]="{'background-color': contact.color}">
                    <span>{{ contact.firstName.charAt(0).toUpperCase()
                        }}{{contact.lastName.charAt(0).toUpperCase()}}
                    </span>
                </div>
            </ng-container>
            <div class="contact ellipsis" *ngIf="card.contacts.length > 2">+{{ card.contacts.length - 2 }}</div>
        </div>
        <img src="/assets/img/icon/prio_{{ card.prio }}_color.png">
    </div>
</mat-card>