<main>
    <mat-card>
        <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="login()" novalidate>
            <mat-card-title>Log in</mat-card-title>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-icon matSuffix>mail_outline</mat-icon>
                <mat-error *ngIf="errorHandling('email', 'required')">
                    Please enter your <strong>email</strong>
                </mat-error>
                <mat-error *ngIf="errorHandling('email', 'pattern')">
                    Wrong format <strong>(e.g.: john-doe@eg-mail.com)</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" formControlName="password" [type]="hidePw ? 'password' : 'text'">
                <mat-icon class="pw-icon" matSuffix (click)="hidePw = !hidePw">{{hidePw ? 'visibility_off' :
                    'visibility'}}</mat-icon>
                <mat-error *ngIf="errorHandling('password', 'required')">
                    Please enter your <strong>password</strong>
                </mat-error>
            </mat-form-field>
            <div class="check">
                <mat-checkbox formControlName="remember">Remember me</mat-checkbox>
                <a routerLink="/registration/forgotpassword">Forgot my password</a>
            </div>
        </form>
        <div class="btns">
            <button class=" dark-btn" mat-flat-button color="primary" form="loginForm" type="submit">Log in</button>
            <button (click)="guestLogin()" class="light-btn" mat-flat-button>Guest Log in</button>
        </div>
    </mat-card>
</main>

<div class="new-user-container">
    <div class="new-user">
        <span>Not a Join user?</span>
        <button class="dark-btn" mat-flat-button color="primary" routerLink="/registration/signup">Sign up</button>
    </div>
</div>

<img class="logo" src="assets/img/logo_dark.png">